https://biobaumbauer.de {
    root * /srv/frontend
    encode gzip zstd

    @api path /api/* /admin /admin/*
    handle @api {
        reverse_proxy backend:4000 {
            header_up Host {host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
