version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - '80:80'
      - '443:443'
    env_file:
      - ./frontend/.env.prod
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    ports:
      - '4000:4000'
    env_file:
      - ./backend/.env.prod
    restart: unless-stopped
