.imageContainer {
  overflow: hidden;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

.imageContainer:hover .image {
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.imageContainer:hover .overlay {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 1;
}
