@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Global variables for colors
*/
:root {
  --accent: #5a6448;
  --accent-light: #6b7755;
  --primary: #dfdacb;
  --primary-light: #f8f7f4;
  --primary-dark: #b2aea2;
  --gray-light: #ededec;
  --gray-dark: #c3c0c0;
  --red: #ff6961;
  --sage: #888f7a;
  --stone: #82817e;
  --mint: #bbd4a7;
  --aloe: #cbd2c3;
  --white: #fcfcfc;
  --golden-red: #d97706;
}

@font-face {
  font-family: 'Chicle';
  src: url('/fonts/chicle-regular/chicle-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/open-sans-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/open-sans-variable-italic.ttf') format('truetype');
  font-style: italic;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* sweet alert custom button */
.sweet-alert-btn {
  background-color: var(--accent);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: 2px solid var(--accent);
  border-radius: 7px;
  transition: all 0.2s linear;
}

.sweet-alert-btn:hover {
  background-color: var(--aloe);
  color: var(--accent);
}

/* sweet alert title */
.sweet-alert-title {
  font-family: 'Chicle', 'serif';
  color: var(--accent);
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
