.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  gap: 10px;

  @media (min-width: 900px) {
    padding: 30px 20px 30px 20px;
    flex-direction: row;
    align-items: start;
    gap: 30px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 740px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  margin: auto;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.imageWrapper {
  height: 172px;
  overflow: hidden;
}

.cardImage {
  display: block;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(20%);
}

.card:hover {
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover .cardImage {
  transform: scale(1.05);
}

.sortFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  /* padding: 0 20px; */

  @media (max-width: 740px) {
    max-width: 400px;
    margin: auto;
  }

  @media (min-width: 740px) {
    flex-direction: row;
    box-shadow: none;
    padding: 0 0;
  }

  @media (min-width: 900px) {
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    margin-top: 48px;
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px;
  max-width: 400px;
  margin: 8px auto;

  @media (min-width: 740px) {
    max-width: 100%;
    padding: 0 3px;
  }
}

/* Disbale hover and click on Page Number dispaly */
.noHover {
  pointer-events: none;
  background-color: inherit;
  color: inherit;
  border: none;
  box-shadow: none;
}
