@font-face {
  font-family: 'Chicle';
  src: url('/admin-assets/fonts/chicle-regular/chicle-regular.ttf')
    format('truetype');
}

/* Login page overrides */
.login__Wrapper form h5 {
  font-family: 'Chicle';
  font-size: 24px;
  color: #5a6448;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.login__Wrapper > .adminjs_Box:last-child .adminjs_MadeWithLove {
  display: none;
}

.login__Wrapper::after {
  content: '© 2025 Bio Baum Bauer';
  margin-top: 16px;
  color: #4f4f4f;
  font-size: 13px;
}

/* Sidebar footer customization */
[data-css='sidebar-footer']::after {
  content: 'Made with \2665  by Solawi team';
  display: flex;
  justify-content: center;
  margin: 8px 0;
  color: #6b7280;
  font-size: 12px;
}

/* push all action footers left */
[data-css$='drawer-footer'] {
  display: flex;
  justify-content: flex-start !important;
}

[data-css$='drawer-footer'] .adminjs_Button {
  margin-left: 0 !important;
}
