.card {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.imageWrapper {
  overflow: hidden;
  height: 180px;
}

.image {
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
  filter: grayscale(20%);
}

.card:hover {
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  .image {
    transform: scale(1.05);
  }
}
