/* About CSS */

.aboutSolawiImgDiv:hover .aboutSolawiImg {
  transform: scale(1.2);
}
.aboutSolawiImgDiv:hover .overlay {
  opacity: 1;
}

/* Join to other pages */
.connections {
  background: url(../images/home-hero-bg-image1.jpg) center no-repeat fixed;
  background-size: cover;
}
.connect-detail {
  background-color: rgba(72, 72, 72, 0.5);
}
